body {
    font-family: Arial;
    background-color: lightblue;
    text-align: center;
}


img, video {
    width: 300px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}